/*********/
/*************************************************************************************************************************************/
/*********/
/* ROOT */
:root,
.elementor-kit-XX {
    --primary: var(--e-global-color-primary);
    --secondary: var(--e-global-color-secondary);
    --text: var(--e-global-color-text);
    --accent: var(--e-global-color-accent);
	--cubix: cubic-bezier(.8,0,.4,1);
    --cubixslow: cubic-bezier(.55,0,0,1);
}
@media (max-width:767px) {
	.e-con {
		--def:clamp(300px, calc(24.57vw + 231.55px), 420px);/*320px @ 360 : 420px @ 767*/
		--small:clamp(290px, calc(19.66vw + 209.24px), 360px); /*280px @ 360 : 360px @ 767*/
		--wide:clamp(300px, calc(63.88vw + 90.02px), 580px); /*320px @ 360 : 580px @ 767*/
	}
}
/* WP ADMIN BAR */
/* Hide all */
body:not(.webadmin) #wpadminbar li {
    display: none !important;
}
/* Admin top menu */
body:not(.webadmin) #wpadminbar li#wp-admin-bar-site-name,
body:not(.webadmin) #wpadminbar li#wp-admin-bar-my-account,
body:not(.webadmin) #wpadminbar li#wp-admin-bar-logout {
    display: inherit !important;
}
/*********/
/*************************************************************************************************************************************/
/*********/
/* HTML,BODY */
body,
html {
    overflow-x: hidden !important;
}
body {position:relative;}
*:focus,
*:focus-visible,
* {
    outline: none !important;
}

/* clears the ‘X’ from search input Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    filter: grayscale(100%) invert(1) brightness(200%);
}
#REMOVE-IF-USED body::before {
  	content:"";position:fixed;top:0;left:0;width:100%;height:100%;z-index: -1;
  	background: url('/wp-content/uploads/background-image.png') repeat-y center center;
  	background-size: 100% auto;
  	mix-blend-mode: multiply;
	opacity:.8;
}
/* Hide content if it has no data, from ACF shortcode function brro_data */
[brro_data="no-content"] {
	display:none!important;
}
/* SCROLLBARS */
/* This styles the scrollbar track (part the thumb slides within) */
html::-webkit-scrollbar-track {
    background-color: blue!important;
}
/* This styles the scrollbar thumb (the part that you drag) */
html::-webkit-scrollbar-thumb {
    background-color: green!important; 
    border-radius: 10px!important; 
    border: 2px solid red!important; 
}
/* This styles the scrollbar itself (including thumb and track) */
html::-webkit-scrollbar {
    width: 12px!important; 
    height: 20px!important; /* Height of the scrollbar for horizontal scroll */
}
/* Firefox requires a different approach */
html {
    scrollbar-width: thin!important; /* 'auto' or 'thin' */
    scrollbar-color: green blue; /* thumb and track color */
}
/*********/
/*************************************************************************************************************************************/
/*********/
/* ELEMENTOR EDITOR */
/* Captcha inline */
.elementor-field-type-recaptcha_v3.recaptcha_v3-inline {
    height: 5px;
    margin-bottom: 0px !important;
    opacity: 0;
    visibility: hidden;
}
/* HTML show if has script */
.elementor-editor-active .elementor-widget-html:not(.hidejs) script {
    display: block;
    max-height: 30px;
    border: 4px solid red;
    overflow: hidden;
    font-size: 10px;
    line-height: 12px;
}
/* Highlight spacer */
.elementor-editor-active .elementor-spacer {
    background: grey;
    opacity: 0.2;
}
/* Highlight empty widget */
.elementor-editor-active .elementor-element.elementor-widget-empty .elementor-widget-empty-icon {
    border: 4px solid red;
}
/*********/
/*************************************************************************************************************************************/
/*********/
/* HEADER */
/* Headerup */
header {
    -webkit-transition: transform 400ms var(--cubix)!important;
    transition: transform 400ms var(--cubix)!important;
}
header.brro-headerup {
    transform: translateY(-200px);
    /*adjust this value to the height of your header*/
}
header.brro-sticky-effects {
	background:red!important;
	-webkit-transition: transform 400ms var(--cubix), background 400ms ease 100ms!important;
    transition: transform 400ms var(--cubix), box-shadow 400ms var(--cubix), background 400ms ease 100ms!important;
	box-shadow: 0px 0px 60px #000000AF;
}
/*
 * 
 * Media Queries */

/* Desktop */
@media (min-width:1180px) {
} 
/* Tablet onwards */
@media (min-width:768px) {
} 
/* Tablet only */
@media (min-width:768px) and (max-width:1179px) {
} 
/* Mobile */
@media (max-width:767px) {
}

/*********/
/*************************************************************************************************************************************/
/*********/
/* FOOTER */
/* back to top btn*/
#to-top.not-to-top {
    z-index: -1;
    pointer-events: none;
    opacity: 0;
}
#to-top {
    transition: opacity 600ms ease;
}


/*********/
/*************************************************************************************************************************************/
/*********/
/* SECTIONS/CONTAINERS */
/*
 * 

/*********/
/*************************************************************************************************************************************/
/*********/
/* Loops */

/*********/
/*************************************************************************************************************************************/
/*********/
/* TEXT STYLES */
